.choose-name {   
    @extend %display-none;
    @extend %align-center;
    h1 {
        margin-bottom: 40px;
    }

    .form-control {
        & + .form-control {
            margin-left: 15px;
        }
    }
                
    .red-border {
        border-color: $danger;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    


}