.main-footer {  
  background: #f4f6f8;
  padding: 45px 100px;  
   

  .wrapper {
    @extend %flex;
    margin-bottom: 30px;
  }

  a {
    color: $light-blue;
  }

  .company-info {
    width: 320px;
    p {        
      margin-top: 15px;
    }
  }

  li,
  p {
    font-size: 12px;
    color: $bluey-grey;
    line-height: 2;
  }

  .social-links {
    margin-top: 15px;
  }

  .social-icons {
    @extend %cursor-pointer;
    width: 26px;
    height: 26px;

    & + .social-icons {
      margin-left: 10px;
    }
  }

  h5 {
    display: inline-block;
    margin-top: 15px;
  }

  li {
    &:first-child {
      margin-bottom: 10px;
    }

    &:not(:first-child) {
      @extend %cursor-pointer;
      color: $gunmetal;
      margin-bottom: 5px;

    }
  }
}
