.navbar {
  position: fixed;
  width: 100%;  
  background: white;
  z-index: 50;
  .top {
    @extend %flex;
    align-items: center;
    padding: 15px 30px;
    
    border-bottom: 1px solid $pale-blue;
    
   
  
    .logo {
      @extend %cursor-pointer;
      margin: 0 auto 0 30px;
    }

    .side-menu {
      @extend %cursor-pointer;
    }
  
    ul {
      display: flex;

      .focus {
        color: black;
        transition: 0.1s ease-in;
      }
  
      li {
        font-size: 13px;
        font-weight: 600;
        color: $color-txt-light;
        @extend %cursor-pointer;
        & + li {
          margin-left: 30px;
        }

       
      }
    }

    .user-login {
      display: flex;
      align-items: center;
      margin-left: 50px;

      .notification-icon {
        @extend %cursor-pointer;
      }

      .user-img {
        @extend %cursor-pointer;
        @include width-height(35px);
        border-radius: 50%; 
        object-fit: cover;  
        margin: 0 20px; 
      }

      p {
        margin-right: 10px;
      }
    }
  }

  .bottom {
    border-bottom: 2px solid $pale-blue;   
    .wrapper {
      width: 70%;
      margin: auto;
      @extend %flex;
      align-items: center;
      padding: 30px 0;
      
      h1 {
        bottom: 10px;
      }

      .circular-progress{
        margin-right: 20px;
      }

      div {
        &:nth-child(2) {
          margin-right: auto;          
        }
      }
    }
    
  }


 
}
