button {
  @extend %cursor-pointer;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
  padding: 15px 0;
}

.btn-primary {
  @include button($color-btn-primary, $bright-sky-blue);
}

.btn-primary-form {
  @include button($color-btn-primary, $bright-sky-blue);
}

.btn-secondary {
  @include button($color-btn-secondary, $steel-grey);
}

.btn-dark {
  @include button($color-btn-dark, #454e57);
}

.btn-success {
  @include button($aqua-marine, #34adab);
}

.btn-tertiary {
  @extend %btn-tertiary;
  background-color: $color-btn-primary;
  background-image: url("/src/icons/button-arrow.svg");  

  &::after {
    @include position(absolute, 15%, 0);
    @include width-height(40px, 70%);
    content: "";   
    border-left: 1.5px solid white;
    opacity: 0.5;
  }

  &:hover {
    background-color: $bright-sky-blue;
  }
}

.btn-tertiary-outline {
  @extend %btn-tertiary;
  background-color: transparent;
  background-image: url("/src/icons/button-arrow-grey.svg");  
  border: 2px solid $light-blue-grey; 
  color: black;
  font-weight: 400;
  &::after {
    content: "";
    @include position(absolute, 15%, 0);
    @include width-height(40px, 70%);
    border-left: 2px solid $light-blue-grey;
  }

  &:hover {
   background-image: url("/src/icons/button-arrow-white.svg");
   background-color: $color-btn-dark;
   border-color: $color-btn-dark;
   color: white;
  }
  
}

.btn-lg {
  width: 180px;
}

.btn-md {
  width: 125px;
}

.btn-sm {
  width: 100px;
}
