// checkbox primary

.checkbox-primary {
  @include width-height(25px);
  @extend %position-relative;
  @extend %checkbox-input;

  .tick {
    @extend %checkbox-tick;
    background: url(/src/icons/tick.svg) no-repeat center top 6px;
    background-size: 350%;
  }

  .checkbox-text {
    @extend %checkbox-text;
    font-size: 15px;
  }

  input:checked + .tick {
    background-size: 60%;
    border-color: $color-btn-primary;
    transition: background-size 0.15s ease-in;
  }
}

// checkbox secondary

.checkbox-secondary {
  @include width-height(20px);
  @extend %position-relative;
  @extend %checkbox-input;

  &:hover {
    box-shadow: rgba(35, 192, 245, 0.3) 0px 0px 24px;
  }

  .tick {
    @extend %checkbox-tick;
    border-width: 2px;
    background: url(/src/icons/tick.svg) no-repeat center top 4.5px;
    background-size: 330%;
  }

  .checkbox-text {
    @extend %checkbox-text;
    font-size: 12px;
  }

  input:checked + .tick {
    background-size: 60%;
    transition: background-size 0.15s ease-in;
  }
}

// checkbox-tertiary

.checkbox-tertiary {
  @include width-height(15px);
  @extend %position-relative;
  @extend %checkbox-input;
  border-radius: 3px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
  }

  .tick {
    @extend %checkbox-tick;
    border: none;
    background: url(/src/icons/check-white.svg) no-repeat left 2px top;
    background-size: 220%;
  }

  .checkbox-text {
    @extend %checkbox-text;
    font-size: 10px;
    margin-left: 5px;
    top: 8px;
  }

  input:checked + .tick {
    background-size: 80%;
    transition: background-size 0.15s ease-in;
  }
}
