input[type='text'],input[type='email'] {
  @extend %grey-border;  
  padding: 10px; 
  outline: none;     

  &::placeholder {
    color: #adadad;
  }

  &:focus {
    box-shadow:rgba(35,192,245,0.2) 0px 0px 24px; 
  }   
 
}

.input-md {
    width: 250px;
}

.input-lg {
    width: 380px;
}





