.range-slider__range {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #c4cdd5;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb{   
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to right, white, #f9fafb);
    border: 1px solid rgba(35, 69, 97, 0.26);
    cursor: pointer;
    appearance: none;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;   
    border-radius: 50%;
    background: linear-gradient(to right, white, #f9fafb);
    border: 1px solid rgba(35, 69, 97, 0.26);
    cursor: pointer;
    border: 0;
  }
}

.range-slider__value {
  @extend %position-relative;
  margin-left: 40px;
  z-index: 4;
  &::before {
    @extend %pseudo-styles;
    @extend %grey-border;
    padding: 8px;
    z-index: -1;
    width: 80px;
    height: 40px;
    bottom: -8px;
    left: -17px;
  }
}

// Firefox Overrides
::-moz-range-track {
  background: #c4cdd5;
  border: 0;
}
