// colors

$bluey-grey: #919eab;
$light-blue-grey: #c4cdd5;
$battleship-grey: #637381;
$pale-grey: #f9fafb;
$gunmetal : #454f5b;
$light-blue: #4ad5f6;
$pale-blue: #dfe3e8;
$aqua-marine: #47c1bf;
$light-grey: #adadad;
$bright-sky-blue: #23c0f5;
$cerculean: #007ace;
$verify-green:#3cb865;
$danger: #dc3545;

// text colors

$color-txt-primary: $gunmetal;
$color-txt-secondary: $battleship-grey;
$color-txt-tertiary: $bright-sky-blue;
$color-txt-light: $light-grey;
$color-txt-darkblue: $cerculean;

// background colors

$color-bg-primary: $pale-grey;
$color-bg-secondary: $battleship-grey;

// button colors

$color-btn-primary: $light-blue;
$color-btn-secondary: $light-blue-grey;
$color-btn-tertiary: $bright-sky-blue;
$color-btn-success: $aqua-marine;
$color-btn-dark: $battleship-grey;

// input colors 

$color-input-border: $light-blue-grey;
$color-input-txt: $light-grey;

// checkbox colors

$colors: (
  green: #00cfc0,
  light-blue: #23c0f5,
  navy-blue: #007ace,  
  purple: #5c6ac4,
  violet: #9c6ade,
  red: #de6a93
);


