*,*::before,*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

body {
  height: 100vh; 
  @extend %flex;
  flex-direction: column;      
}

ul {
  list-style: none;
}

.down-arrow {
  @extend %cursor-pointer;
  width: 10px;
  vertical-align: center;
  margin-left: 5px;
}




